<div>
        <form ng-submit="pctrl.sacuvaj()" name="specijalizacijaForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                <input ng-class="{'is-invalid': specijalizacijaForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.specijalizacija.naziv" required>
            </div>
            <div class="form-group">
                <input type="submit" ng-if="pctrl.specijalizacija['id']" value="Izmeni specijalizaciju" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.specijalizacija['id']" value="Dodaj specijalizaciju" class="btn btn-primary">
            </div>
        </form>
</div>