<!DOCTYPE html>
<html>
<head>
    {#
        Ova stranica predstavlja Jinja sablon za generisanje sadrzaja
        Sav sadrzaj izmedju { # # } predstavlja komentare. Ovi komentari
        nece zavrsiti u rezultujucem html dokumentu jer ce biti uklonnjeni
        prilikom generisanja sadrzaja. Generisanje sadrzaja se vrsi na serveru
        tako da sabloni nikada nisu dostupni klijentu.
    #}
    {#
        Sadrzaj izmedju { { } }  predstavlja izraz. Svaki izraz se izracunava
        a sablon se potom popunjava rezultatima izraza tako sto se na mesto
        izraza zapise vrednost izraza.
    #}
    <title>Podaci korisnika {{korisnik["ime"]}}</title>
</head>
<body>
    <ul>
        <li>Ime: {{korisnik["ime"]}}</li>
        <li>Prezime: {{korisnik["prezime"]}}</li>
        <li>E-mail: {{korisnik["email"]}}</li>
        <li>Korisničko ime: {{korisnik["kime"]}}</li>
        <li>Datum rodjenja: {{korisnik["drodjenja"]}}</li>
    </ul>
    <a href="/korisnici">Spisak korisnika</a>
</body>
</html>