<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="proizvodi" method="POST">
                    <div class="form-group">
                        <label for="naziv">Naziv:</label>
                        <input type="text" name="naziv" id="naziv" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="kategorija">Naziv:</label>
                        <select class="form-control" id="kategorija" name="kategorija">
                            {% for k in kategorije %}
                            <option value="{{k["id"]}}">{{k["naziv"]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="opis">Opis:</label>
                        <textarea name="opis" id="opis" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="kolicina">Kolicina:</label>
                        <input type="number" name="kolicina" id="kolicina" min="0" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="cena">Cena:</label>
                        <input type="number" name="cena" id="cena" min="0" step="0.01" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Dodaj proizvod" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>