<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row mt-2 mb-5">
            <div class="col-3">
                <a href="/proizvodi" class="btn btn-primary w-100">Tabela svih proizvoda</a>
            </div>
            <div class="col-3">
                <a href="/dodavanje.html" class="btn btn-primary w-100">Dodavanje proizvoda</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Naziv</th>
                            <th>Opis</th>
                            <th>Količina</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in proizvodi %}
                        {% if p["kolicina"] > 0 %}
                        <tr>
                            {# URL za pristup proizvodu se formira na osnovu id-ja trenutnog proizvoda. #}
                            <td><a href="/proizvodi/{{p["id"]}}">{{p["naziv"]}}</a></td>
                            <td>{{p["opis"]}}</td>
                            <td>{{p["kolicina"]}}</td>
                            <td>{{p["cena"]}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>