<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Količina</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            {% for p in proizvodi %}
            {% if p["kolicina"] > 0 %}
            <tr>
                {#
                    URL za pristup proizvodu se formira na osnovu trenutnog indeksa petlje.
                    Kako brojanje indeksa u jinja2 petljama krece od 1 indeks je neophodno
                    umanjiti za 1 kako bi se dobio ispravan indeks u listi.
                #}
                <td><a href="/proizvodi/{{loop.index-1}}">{{p["naziv"]}}</a></td>
                <td>{{p["opis"]}}</td>
                <td>{{p["kolicina"]}}</td>
                <td>{{p["cena"]}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="/proizvodi">Tabela svih proizvoda</a>
    <a href="/dodavanje.html">Dodavanje proizvoda</a>
</body>

</html>