<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>
</head>
<body>
    <form action="/proizvodi/izmeni/{{indeks}}" method="POST">
        <div>
            <label for="naziv">Naziv:</label>
            <input type="text" name="naziv" id="naziv" value="{{proizvod["naziv"]}}" required>
        </div>
        <div>
            <label for="opis">Opis:</label>
            <textarea name="opis" id="opis">{{proizvod["opis"]}}</textarea>
        </div>
        <div>
            <label for="kolicina">Kolicina:</label>
            <input type="number" name="kolicina" id="kolicina" min="0" value="{{proizvod["kolicina"]}}" required>
        </div>
        <div>
            <label for="cena">Cena:</label>
            <input type="number" name="cena" id="cena" min="0" step="0.01" value="{{proizvod["cena"]}}" required>
        </div>
        <div>
            <input type="submit"  value="Izmeni">
        </div>
    </form>
</body>
</html>