<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>
</head>
<body>
    <ul>
        <li>Naziv: {{proizvod["naziv"]}}</li>
        <li>Opis: {{proizvod["opis"]}}</li>
        <li>Kolicina: {{proizvod["kolicina"]}}</li>
        <li>Cena: {{proizvod["cena"]}}</li>
    </ul>
    <a href="/">Početna</a>
    <a href="/proizvodi">Tabela svih proizvoda</a>
</body>
</html>