<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Količina</th>
                <th>Cena</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for p in proizvodi %}
            <tr>
                <td><a href="/proizvodi/{{loop.index-1}}">{{p["naziv"]}}</a></td>
                <td>{{p["opis"]}}</td>
                <td>{{p["kolicina"]}}</td>
                <td>{{p["cena"]}}</td>
                <td><a href="/proizvodi/izmena/{{loop.index-1}}">Izmeni</a> <a href="/proizvodi/ukloni/{{loop.index-1}}">Ukloni</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Početna</a>
    <a href="/dodavanje.html">Dodavanje proizvoda</a>
</body>

</html>