<!DOCTYPE html>
<html>
<head>
    <title>Tabela korisnika</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <table class="tabela">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Korisničko ime</th>
                <th>E-mail</th>
                <th>Datum rodjenja</th>
                <th>Stranica korisnika</th>
            </tr>
        </thead>
        <tbody>
            {#
                Petlja for ima istu sintaksu kao i for petlja u Python
                programskom jeziku. Sadrzaj unutar petlje bice izgenerisan
                onoliko puta koliko bude bilo iteracija for petlje.
                Petlja for se navodi kao iskaz odnosno izmedju {% %}.
            #}
            {% for korisnik in korisnici %}
            <tr>
                <td>{{korisnik["ime"]}}</td>
                <td>{{korisnik["prezime"]}}</td>
                <td>{{korisnik["kime"]}}</td>
                <td>{{korisnik["email"]}}</td>
                <td>{{korisnik["drodjenja"]}}</td>
                {#
                    Promenljiva loop je dostupna samo u kontekstu for petlje.
                    Ova promenljiva skladisti podatke o trenutnoj iteraciji
                    petlje, npr. trenutni indeks u atributu index, da li je
                    prva iteracija petlje u atributu first, da li je poslednja
                    iteracija petlje u atributu last itd.
                    Pomocu promenljive loop i njenog atributa indeks formira se
                    URL u formatu korisnici/0, pri cemu 0 predstavlja indeks korisnika.
                #}
                <td><a href="/korisnici/{{loop.index-1}}">Detaljnije</a></td>
            </tr>
            {# Svaki iskaz se zatvara odgovarajucom end naredbom. #}
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Registracija</a>
</body>
</html>