<!DOCTYPE html>
<html>
<head>
    <title>Tabela dobavljaca</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <table class="tabela">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Drzava</th>
                <th>Grad</th>
                <th>Ulica i broj</th>
                <th>Aktivan</th>
            </tr>
        </thead>
        <tbody>
            {#
                Petlja for ima istu sintaksu kao i for petlja u Python
                programskom jeziku. Sadrzaj unutar petlje bice izgenerisan
                onoliko puta koliko bude bilo iteracija for petlje.
                Petlja for se navodi kao iskaz odnosno izmedju {% %}.
            #}
            {% for dobavljac in dobavljaci %}
            {% if dobavljac['aktivan'] == True %}
            <tr>
                {#
                    Promenljiva dobavljac je dostupna iz for petlje.
                #}
                <td>{{dobavljac["naziv"]}}</td>
                <td>{{dobavljac["drzava"]}}</td>
                <td>{{dobavljac["grad"]}}</td>
                <td>{{dobavljac["ulica_i_broj"]}}</td>
                <td><a href="/obrisi_dobavljaca/{{loop.index-1}}">{{dobavljac["aktivan"]}}</td>
                {#
                    Promenljiva loop je dostupna samo u kontekstu for petlje.
                    Ova promenljiva skladisti podatke o trenutnoj iteraciji
                    petlje, npr. trenutni indeks u atributu index, da li je
                    prva iteracija petlje u atributu first, da li je poslednja
                    iteracija petlje u atributu last itd.
                    Pomocu promenljive loop i njenog atributa indeks formira se
                    URL u formatu /obrisi_dobavljaca/0, pri cemu 0 predstavlja indeks dobavljaca.
                #}
            </tr>
            {% endif %}
            {# Svaki iskaz se zatvara odgovarajucom end naredbom. #}
            {% endfor %}
        </tbody>
    </table>
    <a href="/novi_dobavljac">Dodavanje dobavljaca</a>
</body>
</html>