<!DOCTYPE html>
<html>
<head>
    {#
        Ova stranica predstavlja Jinja sablon za generisanje sadrzaja
        Sav sadrzaj izmedju { # # } predstavlja komentare. Ovi komentari
        nece zavrsiti u rezultujucem html dokumentu jer ce biti uklonnjeni
        prilikom generisanja sadrzaja. Generisanje sadrzaja se vrsi na serveru
        tako da sabloni nikada nisu dostupni klijentu.
    #}
    {#
        Sadrzaj izmedju {{ }}  predstavlja izraz. Svaki izraz se izracunava
        a sablon se potom popunjava rezultatima izraza tako sto se na mesto
        izraza zapise vrednost izraza.
    #}
    <title>Dobavljac</title>
</head>
<body>
    <form action="/dodavanje_dobavljaca" method="POST">
        Naziv: <input type="text" name="naziv" value="{{dobavljac['naziv']}}"><br>
        Drzava: <input type="text" name="drzava" value="{{dobavljac['drzava']}}"><br>
        Grad: <input type="text" name="grad" value="{{dobavljac['grad']}}"><br>
        Ulica i broj: <input type="text" name="ulica_i_broj" value="{{dobavljac['ulica_i_broj']}}"><br>
        <input type="submit" value="Snimi">
    </form>
    <a href="/dobavljaci">Spisak dobavljaca</a>
</body>
</html>