<div class="row">
    <!--
        Kontroler se vise ne vezuje pomocu ng-controller direktive.
        Kontroler ce biti uvezan od strane ui-routera na osnovu
        konfiguracije stanja.
    -->
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Količina</th>
                    <th>Cena</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <!--
                    Za generisanje ponavljajuceg sadrzaja koristi se ng-repeat.
                    Element nad kojim je definisan atribut ng-repeat bice ponovljen
                    onoliko puta koliko ima elemenata u kolekciji.
                -->
                <tr ng-repeat="p in pctrl.proizvodi">
                    <!--
                        Ispis vrednosti objekata vrsi se interpolacijom
                        koja predstavlja jednosmerno vezivanje vrednosti
                        sto znaci da ce, ukoliko dodje do promene objekta,
                        prikaz automatski biti azuriran.
                    -->
                    <td>{{$index+1}}.</td>
                    <!--
                        Generisanje URL-a za prelazak na stanje ciji URL je
                        parametrizovan vrsi se pomocu ui-sref direktive kojoj
                        se prosledjuje naziv stanja iza kojeg se u zagradama
                        navodi objekat koji sadrzi nazive parametara URL-a kao
                        kljuceve a vrednosti kao vrednosti na tim kljucevima.
                    -->
                    <td><a ui-sref="proizvod({id: p['id']})">{{p["naziv"]}}</a></td>
                    <td>{{p["opis"]}}</td>
                    <td>{{p["kolicina"]}}</td>
                    <td>{{p["cena"]}}</td>
                    <!--
                        Prilikom klika na dugme za brisanje bice pozvana metoda
                        ukloni proizvod iz kontrolera i kao argumet ce joj biti
                        prosledjen id odabranog proizvoda.
                    -->
                    <td><button class="btn btn-danger" ng-click="pctrl.ukloniProizvod(p['id'])">Ukloni</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>