<div>
    <ul>
        <li>Naziv: {{pctrl.proizvod.naziv}}</li>
        <li>Opis: {{pctrl.proizvod.opis}}</li>
        <li>Kolicina: {{pctrl.proizvod.kolicina}}</li>
        <li>Cena: {{pctrl.proizvod.cena}}</li>
    </ul>
    <a ui-sref="izmenaProizvoda({id: pctrl.proizvod.id})">Izmeni</a>
</div>