<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          Obracun plata
        </div>
        <div class="panel-body">

          <form>
            <div class="form-group">
              <label>Ime</label>
              <input type="text" ng-model="vm.ime" class="form-control" placeholder="Ime">
            </div>
            <div class="form-group">
              <label>Prezime</label>
              <input type="text" ng-model="vm.prezime" class="form-control" placeholder="Prezime">
            </div>
            <div class="form-group">
              <label>Plata</label>
              <input type="text" ng-model="vm.plata" class="form-control" placeholder="Plata">
            </div>
            <div class="form-group">
              <button ng-click="vm.dodaj()">Dodaj</button>
              <button ng-click="vm.sacuvaj()">Sacuvaj</button>

              <button ng-click="vm.asinhroniPoziv()">Asinhroni poziv</button>

            </div>
          </form>
          
          <table>
            <thead>
              <tr><td>Ime</td><td>Prezime</td><td>Plata</td><td></td></tr>
            </thead>
            <tbody>
                <tr ng-repeat="el in vm.zaposleni">
                  <td>{{$index}}<a href="" ng-click="vm.delete($index)">{{el.ime}}</a></td>
                  <td>{{el.prezime}}</td>
                  <td>{{el.plata}}</td>
                  <td> <a href="" ng-click="vm.selektuj($index)">selektuj</a></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script src="js/app.js"></script>

  </body>
</html>
