<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>Naziv: {{proizvod["naziv"]}}</li>
                    <li>Opis: {{proizvod["opis"]}}</li>
                    <li>Kolicina: {{proizvod["kolicina"]}}</li>
                    <li>Cena: {{proizvod["cena"]}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="/" class="btn btn-primary w-100">Početna</a>
            </div>
            <div class="col-3">
                <a href="/proizvodi" class="btn btn-primary w-100">Tabela svih proizvoda</a>
            </div>
        </div>
    </div>
</body>

</html>