<div class="row">
    <div class="col-12">
        <!--
            Forme se definisu bez action i method atributa jer ce
            predavanje sadrzaja forme biti realizovano asinhrono
            obradom dogadjaja za predavanje sadrzaja. Uvezivanje
            funkcije koja obradjuje dogadjaj vrsi se preko ng-submit
            direktive kojoj se prosledjuje kod za obradu dogadjaja,
            u ovom slucaju poziv metode dodajProizvod iz kontrolera.

            Upotreba ng-submit direktive za uvezivanje dogadjaja
            postuje ogranicenja forme u vidu zahteva za obaveznu
            popunjenost polja, dozvoljenih vrednosti polja itd.
            Ova direktiva takodje prati stanje isravnosti elemenata
            forme i na taj nacin omogucava stilizovanje elemenata
            forme spram ispravnosti forme i njenog sadrzaja.
        -->
        <form ng-submit="pctrl.dodajProizvod()" name="proizvodForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                <!--
                    Sadrzaj elemenata forme se moze uvezati za promenljivu
                    u kontroleru upotrebom direktive ng-model. Ovakav vid
                    uvezivanja promenljivih predstavlja dvosmerno uvezivanje.
                    To znaci da se promenom sadrzaja elementa forme automatski
                    menja i sadrzaj objekta. Takodje promene u objektu izazivaju
                    automatsko azuriranje vrednosti prikazanih u formi.

                    Direktivom ng-class elementi se mogu uslovno stilizovati.
                    Ova direktiva prima objekat ciji kljucevi predstavljaju
                    klase koje treba primeniti a vrednosti izraze cijim izracunavanjem
                    se dobijaju tru ili false vrednosti. Ukoliko je vrednost izraza
                    true primenice se klase navedene u kljucu, u suprotnom nece.
                    U ovom primeru polje za unos naziva proizvoda se stilizuje
                    klasom is-invalid ukoliko je polje naziv iz forme proizvodForma nevalidno.
                -->
                <input ng-class="{'is-invalid': proizvodForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.noviProizvod.naziv" required>
            </div>
            <div class="form-group">
                <label for="kategorija">Kategorija:</label>
                <!--
                    Za popunjavanje select polja podacima koristi se direktiva
                    ng-options. Sadrzaj ng-options direktive je deklaracija petlje
                    kojom se prolazi kroz iterabilni objekat i kojom se kreiraju
                    option elementi u selekt elementu. U konkretnom primeru
                    kreiraju se option elemnti cija vrednost predstavlja id svake
                    kategorije dok je naslov svakog option elementa nazvi kategorije.
                    Kategorije se dobavljaju iz kolekcije kategorije iz kontrolera pctrl.
                    Vrednost option elementa moze biti bilo koji objekat, ne mora biti
                    prost tip.

                    Direktivom ng-model postignuto je dvosmerno uvezivanje atributa kategorija
                    iz objekta noviProizvod sa vrednoscu select polja. Promena select polja
                    odrazice se na promenu atributa kategorija u objektu noviProizvod i obratno.
                    Vrednost koja ce pri promeni vrednosti select polja biti zapisana u atribut
                    kategorija u objektu noviProizvod je id odabrane kategorije.
                -->
                <select class="form-control" id="kategorija" name="kategorija"
                    ng-options="kategorija.id as kategorija.naziv for kategorija in pctrl.kategorije"
                    ng-model="pctrl.noviProizvod.kategorija">
                </select>
            </div>
            <div class="form-group">
                <label for="opis">Opis:</label>
                <textarea name="opis" id="opis" class="form-control" ng-model="pctrl.noviProizvod.opis"></textarea>
            </div>
            <div class="form-group">
                <label for="kolicina">Kolicina:</label>
                <input ng-class="{'is-invalid': proizvodForma['kolicina'].$invalid}" type="number" name="kolicina"
                    id="kolicina" min="0" class="form-control" ng-model="pctrl.noviProizvod.kolicina" required>
            </div>
            <div class="form-group">
                <label for="cena">Cena:</label>
                <input ng-class="{'is-invalid': proizvodForma['cena'].$invalid}" type="number" name="cena" id="cena"
                    min="0" step="0.01" class="form-control" ng-model="pctrl.noviProizvod.cena" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj proizvod" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>