<div>
        <form ng-submit="pctrl.sacuvaj()" name="lekarForma">
            <div class="form-group">
                <label for="naziv">Specijalizacija:</label>
                <input ng-class="{'is-invalid': lekarForma['specijalizacija_id'].$invalid}" type="text" name="specijalizacija_id" id="specijalizacija_id"
                    class="form-control" ng-model="pctrl.lekar.specijalizacija_id" required>
            </div>
            <div class="form-group">
                    <label for="naziv">Ime:</label>
                    <input ng-class="{'is-invalid': lekarForma['ime'].$invalid}" type="text" name="ime" id="ime"
                        class="form-control" ng-model="pctrl.lekar.ime" required>
            </div>
            <div class="form-group">
                    <label for="naziv">Prezime:</label>
                    <input ng-class="{'is-invalid': lekarForma['prezime'].$invalid}" type="text" name="prezime" id="prezime"
                        class="form-control" ng-model="pctrl.lekar.prezime" required>
            </div>
            <div class="form-group">
                <input type="submit" ng-if="pctrl.lekar['id']" value="Izmeni Lekara" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.lekar['id']" value="Dodaj lekara" class="btn btn-primary">
            </div>
        </form>
</div>