<div>
    <div class="row">
        <div class="col-12">
            <div ng-if="lctrl.status == 'neuspesno'" class="alert alert-danger" role="alert">
                Korisnik sa zadatim podacima nije pronađen. Pokušajte ponovo.
            </div>
            <div ng-if="lctrl.status == 'prijavljen'" class="alert alert-success" role="alert">
                Korisnik uspešno prijavljen.
            </div ng-if="neuspesno">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form ng-if="lctrl.status != 'prijavljen'" ng-submit="lctrl.login()" name="loginForma">
                <div class="form-group">
                    <label for="naziv">Korisničko ime:</label>
                    <input ng-class="{'is-invalid': loginForma['korisnicko_ime'].$invalid}" type="text"
                        name="korisnicko_ime" id="korisnicko_ime" class="form-control"
                        ng-model="lctrl.korisnik.korisnicko_ime" required>
                </div>
                <div class="form-group">
                    <label for="naziv">Lozinka:</label>
                    <input ng-class="{'is-invalid': loginForma['lozinka'].$invalid}" type="password" name="lozinka"
                        id="lozinka" class="form-control" ng-model="lctrl.korisnik.lozinka" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Prijava" class="btn btn-primary">
                </div>
            </form>
            <button ng-if="lctrl.status == 'prijavljen'" class="btn btn-primary" ng-click="lctrl.logout()">Odjava</button>
        </div>
    </div>
</div>